.title {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 20px;
    border-bottom: 2px solid #ccc;
}
.post {
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 14px;
    border: 2px solid #ccc;
}