body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 14px;
}

/* PAGE STRUCTURE */
div#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    display: table;
    background: #000063;
    border-bottom: 2px solid #ccc;
}

div#menu {
    position: absolute;
    top: 45px;
    left: 20%;
    height: 30px;
    width: 80%;
    display: table;
    table-layout: fixed;
    border-spacing: 30px 3px;
    background: #FFFFFF;
    font-size: 13px;
    border-bottom: 2px solid #ccc;

}

div#content {
    position: absolute;
    top: 100px;
    left: 50px;
    right: 50px;
}

div#footer {
    position: absolute;
    bottom: 20px;
    left: 50px;
    right: 50px;
    height: 30px;
    border-top:1px solid #ccc;
}

/* HEADER */
.maintitle {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    color: #ffc;
    font-weight: bold;
    font-size: 16px;
}

.welcome {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
    color: #ffc;
    font-weight: normal;
    font-size: 12px;
}

.welcome a:link, .welcome a:visited {
    color: white;
}

/* MENU */
div#Menu_logo {
    position: absolute;
    top: 45px;
    left: 50px;
    height: 30px;
    width: 18%;
    display: table;
    table-layout: fixed;/*
    border-spacing: 30px 3px;
    background: #FFFFFF;
    font-size: 13px;
    border-bottom: 2px solid #ccc;
      padding: 1px 0 2px 0;
*/  background: #FFFFFF;
  
}



div#menu a:link, div#menu a:visited {
    color: #36c;
}

div#menu > li {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #bbb;
    border-top: none;
    border-bottom: none;
    text-align: center;
    font-weight: bold;
}
/* pulldown menu */
div#menu li  ul {
    display:none;
    position:absolute;
    margin: 0;
    padding:10px 10px 5px 10px;
    list-style:none;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
    z-index: 1;
}

div#menu li:hover ul {
    display:block;
}

/* LINK */
a:link, a:visited {
    color: #369;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* TABLE */
table {
    border-collapse: collapse;
}

td, th {
    line-height: 18px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px 15px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

table.change-list, table.change-list th, table.change-list td {
    border: 1px solid #ccc;
}

