div#content_home {
    position: absolute;
    top: 80px;
    left: 110px;
    right: 110px;
}

div#homeimg {
    background: #ddd;
    left: 20%;
    right: 20%
    width: 60%;
    padding: 30px 0 1px 0;
    text-align: center;
}

div#home_top_blank {
    margin-top: 20px;
    background: #FFFFFF;
    padding: 30px 0 5px 0;
    text-align: center;
}